.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.flex-bar {
  display: flex;
}

.link {
  margin: 1em;
  text-decoration: none;
}

.link:visited {
  color: white;
}

.link:hover {
  color: red;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
